/* ---------- Custom ----------------- */

.js-scroll-trigger:hover {
    text-decoration: none;
}

.explanation_portfolio {
    font-size: small;
    /* font-size: 14px; */
    margin: 20px;
}

.title_portfolio {
    font-size: medium;
    /* font-size: 14px; */
    margin: 20px;
}

img.hbm {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

img.iqm {
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

img.tbt {
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.parentDiv {  
    display: flex; 
    justify-content: center; 
    align-items: center;} 

    .navbar {
        min-height: 120px;
      }
      
      .navbar-brand {
        padding: 0 30px;
        height: 120px;
        line-height: 1200px;
      }
      
      .navbar-toggle {
        /* (80px - button height 34px) / 2 = 23px */
        margin-top: 33px;
        padding: 9px 20px !important;
      }

@media (min-width: 768px) {
    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
    }